{% extends 'flask_user/public_base.html' %}
{% from "common/form_macros.html" import render_field_openzeka, render_submit_field %}
{% block content %}
    <div class="col-sm-12">
        <div class="panel panel-default form-box">
            <div class="panel-body">
                <h1 class="text-center">{% trans %}Forgot Password{% endtrans %}</h1>
                <form action="" method="POST" class="form-horizontal" role="form">
                    {{ form.hidden_tag() }}
                    {{ render_field_openzeka(form.email) }}
                    {{ render_submit_field(form.submit, class="btn btn-primary btn-block") }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}