{% extends 'flask_user/member_base.html' %}
{% block user_content %}
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Content Block Container -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h1 class="text-center">
                            <span class="label label-danger">FREE</span>
                            <span class="label label-info">25.000 Requests/Month</span>
                            <span class="label label-info">API Access</span>
                            <span class="label label-info">Image Tagging</span>
                            <span class="label label-info">E-mail Support</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}